{% load cms_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% page_attribute "page_title" %}</title>

  {% addtoblock "css" %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  {% endaddtoblock %}

  {% addtoblock "js" %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  {% endaddtoblock %}

  {% render_block "css" %}
</head>
<body>
  {% cms_toolbar %}

  <div class="base-header">
    {% block base_header %}{% endblock %}
  </div>

  <div class="base-content container">
    {% block base_content %}{% endblock %}
  </div>

  <div class="base-footer">
    {% block base_footer %}{% endblock %}
  </div>

  {% render_block "js" %}
</body>
</html>
