{% extends "shop/base.html" %}
{% load i18n mptt_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">{% trans "Brands" %}</li>
{% endblock %}

{% block page_title %}<h1>{% trans "Brands" %}</h1>{% endblock %}

{% block body %}
    {% if object_list %}
        <ul>
            {% recursetree object_list %}
                <li>
                    <a href="{{ node.get_absolute_url }}">{{ node.get_name }}</a>
                    {% if not node.is_leaf_node %}
                        <ul>
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    {% else %}
        <p>{% trans "No brands." %}</p>
    {% endif %}
{% endblock %}
