{% extends "shop/base.html" %}
{% load i18n mptt_tags %}
{% load url from future %}

{% block body %}
    <h1>{% trans "Categories" %}</h1>
    <hr>

    <ul>
        {% recursetree object_list %}
            <li>
                <a href="{{ node.get_absolute_url }}">{{ node.get_name }}</a>
                {% if not node.is_leaf_node %}
                    <ul>
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>

{% endblock %}
