{% extends "shop/base.html" %}
{% load i18n utils_tags %}
{% load url from future %}

{% block body %}
    <h1>{{ object.get_name }}</h1>

    {{ object.get_slug }}
    <p><strong>{% trans "Price" %}:</strong> {{ object.get_price }}</p>

    {% if object.is_group %}
        <div class="row">
            <div class="col-sm-3 attributes">
                {% for attr in object.attrs %}
                    <div id="attr-{{ attr.code }}" class="form-group">
                        <label for="id_attr-{{ attr.code }}" class="control-label">{{ attr.name }}</label>
                        <select id="id_attr-{{ attr.code }}" class="form-control">
                            {% for value in attr.values %}
                                <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if object.category %}
        <p><a href="{{ object.category.get_absolute_url }}">{{ object.category.get_name }}</a></p>
    {% else %}
        <p>{% trans "(Product is at root category)" %}</p>
    {% endif %}

    <br>
    <form method="post" action="{% url 'cart' %}">{% csrf_token %}
        <input type="hidden" name="add_item_id" value="{{ object.pk }}">
        <input type="hidden" name="add_item_quantity" value="1">
        {% if object.can_be_added_to_cart %}
            <input class="btn btn-primary btn-sm" type="submit" value="{% trans "Add to cart" %}">
        {% else %}
            <input class="btn btn-danger btn-sm" type="submit" value="{% trans "Cannot be added to cart" %}" disabled="disabled">
        {% endif %}
    </form>

{% endblock %}

