{% extends "shop/base.html" %}
{% load i18n crispy_forms_tags %}
{% load url from future %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">{% trans "Promotional code" %}</li>
{% endblock %}

{% block page_title %}<h1>{% trans "Promotional code" %}</h1>{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST">
                {% csrf_token %}
                <h3>{% trans "Enter your code" %}</h3>
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">{% trans "Apply" %}</button>
                <a href="{% url 'cart' %}" class="btn btn-default">{% trans "Back to cart" %}</a>
            </form>
        </div>
        <div class="col-md-6">
            <h3>{% trans "Entered codes" %}</h3>
            {% if object_list %}
                <p>
                    {% for obj in object_list %}
                        <span class="label label-success">{{ obj.code }}</span>
                    {% endfor %}
                <p>
                <a href="{% url 'catalog_cart_modifier_code_delete' %}" class="btn btn-default btn-sm">{% trans "Delete promotional codes" %}</a>
            {% else %}
                <p>{% trans "No promotional codes entered." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
