{% load i18n thumbnail %}

<div class="row">
    {% if products %}
        {% for object in products %}
            <div class="col-md-4 col-sm-6">
                <h3><a href="{{ object.get_absolute_url }}">{{ object.get_name }}</a></h3>

                 {% with object.get_featured_image as featured_image %}
                    <a href="{{ object.get_absolute_url }}" class="img">
                        {% if featured_image %}
                            <img class="img-rounded img-responsive" src="{% thumbnail featured_image "800x400" crop upscale %}" alt="{{ object.get_name }}">
                        {% else %}
                            <img class="img-rounded img-responsive" src="http://placehold.it/800x400" alt="">
                        {% endif %}
                    </a>
                {% endwith %}
                <div class="clearfix"></div>
                <br>

                <p><strong>{% trans "Price" %}:</strong> {{ object.get_price }}</p>
                <form method="post" action="{% url 'cart' %}">{% csrf_token %}
                    <input type="hidden" name="add_item_id" value="{{ object.pk }}">
                    <input type="hidden" name="add_item_quantity" value="1">
                    {% if object.can_be_added_to_cart %}
                        <input class="btn btn-primary btn-sm" type="submit" value="{% trans "Add to cart" %}">
                    {% else %}
                        <input class="btn btn-danger btn-sm" type="submit" value="{% trans "Cannot be added to cart" %}" disabled="disabled">
                    {% endif %}
                </form>
                <hr class="visible-xs">
            </div>
            {% cycle '' '<div class="visible-sm"><div class="clearfix"></div><hr></div>' '<div class="visible-md visible-lg"><div class="clearfix"></div><hr></div>' %}
        {% endfor %}
    {% else %}
        <div class="col-xs-12"><p>{% trans "No products." %}</p></div>
    {% endif %}
</div>
