{% extends "shop/base.html" %}
{% load i18n crispy_forms_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">{% trans "Checkout" %}</li>
{% endblock %}

{% block page_title %}<h1>{% trans "Shipping and Billing" %} <small>{% trans "Checkout" %}</small></h1>{% endblock %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <h3>{% trans "Your shipping address" %}</h3>
                {{ shipping_address|crispy }}
            </div>
            <div class="col-md-6">
                <h3>{% trans "Your billing address" %}</h3>
                {{ billing_address|crispy }}
            </div>
        </div>
        <h3>{% trans "Payment and Shipping Methods" %}</h3>
        {{ billing_shipping_form|crispy }}
        <h3>{% trans "Extra info" %}</h3>
        {{ extra_info_form|crispy }}

        <br>
        <button class="right btn btn-success" type="submit">{% trans "Save" %}</button>
    </form>
{% endblock %}
