{% load i18n catalog_tags %}

<h3>{% trans "Order ID:" %} {{ order.pk }}</h3>
<p>{% trans "Order Status" %}: {{ order.get_status_display }}</p>

<div class="row order-address">
    <div class="col-md-6">
        <label class="control-label">{% trans "Shipping Address" %}</label>
        {% if order.shipping_address_text %}<textarea class="form-control" rows="8">{{ order.shipping_address_text }}</textarea>{% endif %}
        <br>
    </div>
    <div class="col-md-6">
        <label class="control-label">{% trans "Billing Address" %}</label>
        {% if order.billing_address_text %}<textarea class="form-control" rows="8">{{ order.billing_address_text }}</textarea>{% endif %}
        <br>
    </div>
</div>

<table class="table table-hover order">
    <thead>
        <tr>
            <th>{% trans "Product name" %}</th>
            <th>{% trans "Unit price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Price" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for item in order.items.all %}
            <tr>
                <td>{{ item.product_name }}</td>
                <td>{{ item.unit_price|round_2 }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.line_subtotal|round_2 }}</td>
            </tr>
            {% for item_extra in item.extraorderitempricefield_set.all %}
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td>{{ item_extra.label }}</td>
                    <td>{{ item_extra.value }}</td>
                </tr>
                {% if forloop.last %}
                    <tr><td colspan="2">&nbsp;</td><td>{% trans "Line Total" %}:</td><td>{{ item.line_total|round_2 }}</td></tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tbody>

    <tfoot>
        <tr><td colspan="2">&nbsp;</td><td>{% trans "Order Subtotal" %}</td><td>{{ order.order_subtotal|round_2 }}</td></tr>
        {% for extra_price_field in order.extraorderpricefield_set.all %}
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>{{ extra_price_field.label }}</td>
                <td>{{ extra_price_field.value|round_2 }}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="2">&nbsp;</td><td><b>{% trans "Order Total" %}</b></td><td><b>{{ order.order_total|round_2 }}</b></td></tr>
    </tfoot>
</table>

{% for extra_info in order.extra_info.all  %}
    <p>{{ extra_info.text }}</p>
{% endfor %}

