{% load i18n shop_tags catalog_tags catalog_utils_tags currency thumbnail %}

<div class="row">
    <div class="col-sm-3">

        {# Search form. #}
        <form class="form-inline" method="GET">
            <input class="form-control input-sm" id="catalog-search" name="search" type="text" value="{{ request.GET.search }}">
            {% for k, v in request.GET.items %}
                {% if k != 'search' %}
                    <input type="hidden" name="{{ k }}" value="{{ v }}">
                {% endif %}
            {% endfor %}
            <button class="btn btn-primary btn-sm">{% trans "Search" %}</button>
        </form>

        {# Attribute filters. #}
        {% get_attr_filters as attr_filters %}
        {% for f in attr_filters.values %}
            <h4>{{ f.name }}</h4>
            <ul class="list-unstyled">
                {% for v in f.values %}
                    <li>
                        <a class="label label-{% if request.GET|get:f.code|stringformat:'s' == v|stringformat:'s' %}success{% else %}default{% endif %}"
                           href="?{% query_transform f.code v %}">{{ v }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

        {# Price range filter. #}
        {% get_price_steps as price_steps %}
        <h4>{% trans "Price from" %}</h4>
        <ul class="list-unstyled">
            {% for price in price_steps %}
                {% if not forloop.last %}
                    {% with price_from=request.GET|get:'price-from'|floatformat:2 price=price|currency:CURRENCY.code|priceformat %}
                        <li>
                            <a class="label label-{% if price_from == price %}success{% else %}default{% endif %}"
                               href="?{% query_transform 'price-from' price currency=CURRENCY.code %}">
                                {{ price }} {{ CURRENCY.symbol }}
                            </a>
                        </li>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </ul>

        <h4>{% trans "Price to" %}</h4>
        <ul class="list-unstyled">
            {% for price in price_steps %}
                {% if not forloop.first %}
                    {% with price_to=request.GET|get:'price-to'|floatformat:2 price=price|currency:CURRENCY.code|priceformat %}
                        <li>
                            <a class="label label-{% if price_to == price %}success{% else %}default{% endif %}"
                               href="?{% query_transform 'price-to' price currency=CURRENCY.code %}">
                                {{ price }} {{ CURRENCY.symbol }}
                            </a>
                        </li>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </ul>

        <hr>
        <a href="{{ request.path }}">{% trans "Clear filters" %}</a>
    </div>

    <div class="col-sm-9">

        <div class="row">
            <div class="col-sm-6">
                <p class="lead">{% if request.GET.search %}{% trans "Search" %}: "{{ request.GET.search }}"{% else %}&nbsp;{% endif %}</p>
            </div>
            <div class="col-sm-6">
                <ul class="list-inline pull-right">
                    <li><a class="label label-{% if request.GET.sort == 'name' %}success{% else %}default{% endif %}"
                           href="?{% query_transform sort='name' %}">{% trans "Name (A-Z)" %}</a></li>
                    <li><a class="label label-{% if request.GET.sort == '-name' %}success{% else %}default{% endif %}"
                           href="?{% query_transform sort='-name' %}">{% trans "Name (Z-A)" %}</a></li>
                    <li><a class="label label-{% if request.GET.sort == 'unit_price' %}success{% else %}default{% endif %}"
                           href="?{% query_transform sort='unit_price' %}">{% trans "Price (Low-High)" %}</a></li>
                    <li><a class="label label-{% if request.GET.sort == '-unit_price' %}success{% else %}default{% endif %}"
                           href="?{% query_transform sort='-unit_price' %}">{% trans "Price (High-Low)" %}</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            {% if products %}
                {% for object in products %}
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{ object.get_absolute_url }}" class="img">
                                {% if object.featured_image %}
                                    <img class="img-responsive" src="{% thumbnail object.featured_image "800x400" crop upscale %}" alt="{{ object.get_name }}">
                                {% else %}
                                    <img class="img-responsive" src="http://placehold.it/800x400" alt="{{ object.get_name }}">
                                {% endif %}
                            </a>
                            <div class="caption">
                                <h4 class="pull-right">{{ object.get_price|currency:CURRENCY.code|priceformat }} {{ CURRENCY.symbol }}</h4>
                                <h4><a href="{{ object.get_absolute_url }}">{{ object.get_name }}</a></h4>
                                <p>{{ object.get_description|truncatewords:"3" }}&nbsp;</p>
                            </div>

                            <div class="caption">
                                <div class="pull-right">
                                    {% if object.is_group %}
                                        <a class="btn btn-danger btn-sm" href="{{ object.get_absolute_url }}">{% trans "Choose a variation" %}</a>
                                    {% else %}
                                        <form method="post" action="{% url 'cart' %}">{% csrf_token %}
                                            <input type="hidden" name="add_item_id" value="{{ object.pk }}">
                                            <input type="hidden" name="add_item_quantity" value="1">
                                            {% if object.can_be_added_to_cart %}
                                                <input class="btn btn-primary btn-sm" type="submit" value="{% trans "Add to cart" %}">
                                            {% else %}
                                                <input class="btn btn-danger btn-sm" type="submit" value="{% trans "Cannot be added to cart" %}" disabled="disabled">
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    {% cycle '' '' '<div class="clearfix"></div>' %}
                {% endfor %}

                {# Pagination. #}
                {% if is_paginated %}
                    <div class="col-xs-12">
                        <ul class="pagination pull-right">
                            <li{% if not page_obj.has_previous %} class="disabled"{% endif %}>
                                <a{% if page_obj.has_previous %} href="?{% query_transform page=page_obj.previous_page_number %}"{% endif %}>&laquo;</a>
                            </li>
                            {% for page_number in paginator.page_range %}
                                <li{% if page_obj.number == page_number %} class="active"{% endif %}><a href="?{% query_transform page=page_number %}">{{ page_number }}</a></li>
                            {% endfor %}
                            <li{% if not page_obj.has_next %} class="disabled"{% endif %}>
                                <a{% if page_obj.has_next %} href="?{% query_transform page=page_obj.next_page_number %}"{% endif %}>&raquo;</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}

            {% else %}
                <div class="col-xs-12"><p>{% trans "No products." %}</p></div>
            {% endif %}
        </div>
    </div>
</div>
