{% extends "shop/base.html" %}
{% load i18n crispy_forms_tags %}
{% load url from future %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'catalog_product_list' %}">{% trans "Products" %}</a></li>
<li><a href="{% url 'catalog_product_detail' product.get_slug %}">{{ product.get_name }}</a></li>
<li><a href="{% url 'catalog_review_list' product.get_slug %}">{% trans "Reviews" %}</a></li>
<li><a href="{% url 'catalog_review_detail' product.get_slug object.pk %}">{% if object.user %}{{ object.user }}{% else %}{{ object.pk }}{% endif %}</a></li>
<li class="active">{% trans "Update" %}</li>
{% endblock %}

{% block page_title %}
<h1>{{ product.get_name }} <small>{% if object.user %}{{ object.user }}{% else %}{{ object.pk }}{% endif %}</small></h1>
{% endblock %}

{% block body %}
<form action="" method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">{% trans "Update a Review" %}</button>
  <a class="btn btn-link" href="{% url 'catalog_review_list' product.get_slug %}">{% trans "Back to reviews" %}</a>
</form>
{% endblock %}
